  #Search {
    width: 1500px;
    height: 130px;
    /* background-color: blueviolet; */
    margin: 0 auto;
  }

  
  #Search-nav {
    width:1024px;
    height: 40px;
    background-color: rgb(245, 213, 170);
    border-top:1px solid black;
    border-bottom: 1px solid black;
    font-weight:bolder;
    margin: 0 auto;
  }
  #Search-nav>span:nth-child(1) {
    width:60px;
    height: 40px;
    /* background-color: aqua; */
    display: black;
    float: left;
    text-align: center;
    padding-top:7px;
    box-sizing: border-box;
  }
  #Search-nav>span:nth-child(2) {
    width:490px;
    height: 40px;
    /* background-color:rgb(218, 218, 250); */
    display: black;
    float: left;
    color: black;
    text-align: center;
    padding-top:7px;
    box-sizing: border-box;
  }
  #Search-nav>span:nth-child(3) {
    width:150px;
    height: 40px;
    /* background-color:cadetblue; */
    display: black;
    float: left;
    text-align: center;
    padding-top:7px;
    box-sizing: border-box;
  }
  #Search-nav>span:nth-child(4) {
    width:150px;
    height: 40px;
    /* background-color:chartreuse; */
    display: black;
    float: left;
    text-align: center;
    padding-top:7px;
    box-sizing: border-box;
  }
  #Search-nav>span:nth-child(5) {
    width:90px;
    height: 40px;
    /* background-color:rgb(121, 121, 240); */
    display: black;
    float: left;
    color: black;
    text-align: center;
    padding-top:7px;
    box-sizing: border-box;
  }
