#comment {
    width: 800px;
    height: auto;
    /* background-color: blanchedalmond; */
    margin-top:10px;
}

#comment-list {
    width: 770px;
    height: 70px;
    border: 1px solid black;
    border-radius: 2px solid darkgray;
    margin-left: 15px;
}
#comment-list>#list span {
    display: block;
}

#list {
    width : 770px;
    height: 7                                                                                                                                                                                                                                                                                                                                                                                                                                           0px;
    /* background-color: chartreuse; */
}

/* no쪽 게시판 */
/* #comment-list>#list>span:nth-child(1) {
    width: 50px;
    border: 1px solid black;
    float: left;
    text-align: center;
} */
#comment-list>#list>span:nth-child(1) {
    width: auto;
    border: 1px solid black;
    float: left;
    text-align: center;
    margin-left: 10px;
}
#comment-list>#list>span:nth-child(2) {
    width: auto;
    border: 1px solid black;
    float: left;
    margin-left: 5px;
}
#comment-list>#list>a:nth-child(3) {
    width: 50px;
    border: 1px solid black;
    display: block;
    float: left;
    margin-left: 10px;
    text-align: center;
}
#comment-list>#list>span:nth-child(4) {
    width: 770px;
    height: auto;
    float: left;
    padding: 10px; box-sizing: border-box;
    /* background-color: aquamarine; */
}

#compagnaition {
    width: 800px;
    height: auto;
    background-color: rgb(0, 0, 0);
    float: left;
}
#compagnaition>a {
    width: 30px;
    height: auto;
    display: block;
    text-align: center;
    margin: 0 auto;
    color:white;
}